<div *ngIf="artist">
  <header>
    <div  *ngIf="artist.images.length > 0">
      <img class="thumbnail" src="{{artist.images[0].url}}" >      
    </div>
    <h1 class="purple">{{artist.name}}</h1>
    <p *ngIf="artist.genres.length >0 ">
      <strong class="purple">Genres:</strong><span *ngFor="let genre of artist.genres">{{genre}},</span>
    </p>
  </header>

  <div class="albums wrapper">    
    <div class="" *ngFor="let album of albums">
      <div class="cover">
        <img class="cover-img" src="{{album.images[0].url}}" alt="">        
        <div class="cover-name">
          <b class="purple" >{{album.name}}</b> 
        </div>
        
        <a routerLink="/album/{{album.id}}" md-raised-button color="primary" class="block">Details</a>       
        
      </div>     
      
    </div>    
  </div>
  
</div>