header{
    width: 100%;   
    text-align: center; 
}

.thumbnail {    
    display: block;
    margin: auto;   
    width: 160px;
    height: 160px;
    border-radius: 180px;
    border: 1px solid #777;
    box-shadow: 2px 2px 5px #d7d7d7;    
}

.albums {
    width: 100%;
}

.cover {    
    width: 180px;
    height: 260px;
    margin:2px;  
    float: left;  
    text-align: center;      
}

.cover-img{      
    width: 180px;
    height: 180px;

}

.cover-name{
    height: 33px;
}

.block {
    display: block;
    
    
}